a {
    text-decoration: none;
}
body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: lightgrey;
}

.navbar {
    background-color: white;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.sidebar {
    background-color: #1167b1;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    color: white;
}

label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}

#card-logo {
    width: 75px;
}

#card1 {
    background: #e3ecf1;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 200px;
    width: 1030px;
}

#card1-content {
    padding: 8px;
}
